@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Podkova&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    height: 100vh;
}

h1{
    color: #332b36;
    font-size: 62px;
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
}

h2{
    color: #332b36;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Podkova', serif;
}

.percentage-girl-school{
    color: #9712DD;
}

.percentage-boy-school{
    color: #FF791F;
}

.slides-container{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.slide{
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

.prev, .next{
    display: none;
    width: 64px;
    font-size: 45px;
    height: 64px;
    border: solid #332b36 5px;
    color: #332b36;
}

.prev {
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.next{
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-top: 2%;
}

.next img{
    padding-top: 9px;
}

.prev img{
    padding-top: 9px;
}


a{
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Podkova', serif;
    border: solid 2px;
}

p{
    font-size: 24px;
    font-family: 'Podkova', serif;
}

/* Page d'accueil */

.slide-home h1{
    font-size: 108px;
    margin-top: 75px;
    margin-left: 130px;
}

.slide-home h2{
    font-size: 62px;
    margin-left: 416px;
}

.slide-home .boy, .slide-home .girl{
    position: absolute;
}

.slide-home .boy{
    width: 110px;
    height: 125px;
    bottom: 25%;
    left: 10%;
    transform: rotate(-6deg);
}

.slide-home .girl{
    width: 127px;
    height: 124px;
    bottom: 26%;
    left: 19%;
    transform: rotate(7deg);
}

.slide-home .boy .boy-logo, .slide-home .girl .girl-logo{
    width: 100%;
    height: 100%;
}

.slide-home .boy .name, .slide-home .girl .name{
    font-family: 'Podkova', serif;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
}

.slide-home .boy .name{
    color: #FF791F;
    top: -75%;

}

.slide-home .girl .name{
    color: #9712DD;
    top: -75%;
}

.slide-home .bus-home{
    display: none;
    position: absolute;
    z-index: 10;
    top: 380px;
    left: 0%;
    width: 70%;
}

.slide-home .bus-home img{
    width: 100%;
    height: 100%;
}

.slide-home .tache{
    width: 25%;
    position: absolute;
    left: 65%;
}

.line-home{
    width: 100%;
    margin-top: 200px;
}

.bus-stop{
    width: 354px;
    height: 268px;
    position: absolute;
    bottom: 17.5%;
    left: 23%;
}

.bus-stop img {
    width: 100%;
    height: 100%;
}


/*Page école*/

#slide3{
    display : flex;
    position: relative;
}

#slide3 p{
    margin-bottom: 6%;
    width: 62%;
}


.school{
    position: absolute;
    width: 24%;
    top: 8%;
    left: 9%;
    z-index: 1;
}

.line-top-school{
    position: absolute;
    width: 35%;
    top: 22%;
}

.line-bottom-school{
    position: absolute;
    width: 22%;
    bottom: 33%;
    right: -5%;
}

.school-scene-top{
    position: absolute;
    width: 10%;
    top: 27%;
    left: 17%;
}

.school-scene-bottom{
    position: absolute;
    width: 7%;
    bottom: 19%;
    right: 10%;
}

.fight-trace{
    position: absolute;
    width: 6%;
    left: 59%;
    top: 32%;
}

.ignored-trace{
    position: absolute;
    width: 8%;
    left: 72%;
    top: 29%;
}

.sexist-trace{
    position: absolute;
    width: 12%;
    top: 32%;
    left: 60%;

}

#slide3 .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#slide3 .col-gauche{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    margin-top: 6%;
}

#slide3 .col-droite{
    width: 50vw;
    padding-bottom: 4%;
}

#slide3 .buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 55%;
    border: #332b36 solid 5px;
    background-color: #332b36;
    color: white;
    width: 197px;
}

.btn-ignored{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-sexist, .btn-fight{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#slide3 .students{
    width: 500px;
    display: flex;
}

#slide3 .students .girl-students{
    margin-right: 15px;
}

#slide3 .students .girl-school, #slide3 .students .boy-school{
    margin-right: 5px;
}


#slide3 .students img{
    width: 10%;
}

#slide3 .percentage{
    display: flex;
}

.percentage-boy-school, .percentage-girl-school{
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.percentage-boy-school, .percentage-girl-school:before{
    content: '';
    width: 38px;
    background-color: #332b36;
    position: absolute;
    height: 2px;

}

#slide3 .percentage-boy-school{
    margin-left: 17%;
}

#slide3 .percentage-girl-school{
    margin-left: 19%;
}

#slide3 a img{
    width: 42px;
    height: 42px;
    margin-top: 10px;
    margin-left: 10px;
}

@media(max-width: 1200px){
    .line-top-school{
        width: 31%;
        top: 27%;
    }

    .line-bottom-school{
        width: 10%;
        right: 0;
    }

    #slide3 p{
        margin-bottom: 6%;
        width: 90%;
    }

    #slide3 .col-droite{
        margin-left: 33px;
    }

    #slide3 .col-gauche{
        width: 28vw;
        margin-top: 5%;
        margin-right: 15%;
    }

    .school{
        width: 20%;
        top: 19%;
        left: 10%;
    }

    .ignored-trace{
        top: 31%;
        left: 64%;
    }

    .fight-trace{
        width: 7%;
        left: 58%;
        top: 35%;
    }

    .sexist-trace{
        width: 13%;
        top: 35%;
        left: 61%;
    }

    #slide3 .percentage-boy-school{
        margin-left: 25%;
    }

    #slide3 .percentage-girl-school{
        margin-left: 30%;
    }

    .school-scene-bottom{
        width: 6%;
        bottom: 26%;
        right: 4%;
    }

    .school-scene-top{
        width: 7%;
        top: 29%;
        left: 22%;
    }

}

/*Footer*/

footer{
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 20vh;
    background-color: transparent;
    text-align: center;
    line-height: 50px;
    z-index: 3;
}

footer img{
    width: 40%;
}

footer .btn-launch{
    padding: 0px 30px;
    border-top-left-radius: 12px;
    border: 5px solid #332b36;
    border-bottom-right-radius: 12px;
    text-transform: uppercase;
    position: absolute;
    left: 80%;
    top: 20%;
    color: #332b36;
}

.barre-etat{
    margin-left: 15%;
    margin-right: 15%;
}

/*Slide Bus*/
.percentage-girl-bus{
    color: #9712DD;
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.percentage-boy-bus{
    color: #FF791F;
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

#slide2{
    position: relative;
}

.bus-slide2{
    background-color: transparent;
    width: 35%;
    height: 20%;
    left: 25%;
    top: 10%;
    position: relative;
    opacity: 100%;
    transition: all ease-in 1s;
}

.passenger{
    background-color: transparent;
    position: absolute;
    top: 100%;
    right: 0%;
    left: auto;
    width: 5%;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
}

.male-logo-slide2{
    width: 40px;
}

.female-logo-slide2{
    width: 40px;
}

#slide2 .bus-interieur-slide2{
    position: absolute;
    width: 43%;
    left: 25%;
    top: 17%;
    opacity: 0%;
    transition: 1s ease all;
}

.bus-cote-slide2{
    transition: 1s ease-out;
    position: absolute;
    width: 20%;
    top: auto;
    bottom: 20%;
    left: 0%;
    transform-origin: 50% 50%;
}

.foule-slide2{
    position: absolute;
    transform-origin: 0% 100%;
    width: 10%;
    height: 10%;
    bottom: 20%;
    top: auto;
    left: 50%;
    opacity: 100%;
    transition: all 1s ease;
}

.passenger-img{
    width: 100%;
    height: 100%;
}

#slide2 .percentage{
    position: absolute;
    left: 16%;
    top: 23%;
    opacity: 0%;
    transition: all 0.5s ease;
}

#slide2 .percentage-boy{
    
}

#slide2 .percentage-girl{
    margin-top: 103%;
}

@media(max-width : 1200px){
    #slide2 .bus-interieur-slide2{
        width: 46%;
        top: 35%;
    }

    #slide2 .percentage{
        top: 31%;
    }

    #slide2 .percentage .percentage-girl-bus{
        margin-top: 83%;
    }
}


/*House slide*/
#slide4{
    position: relative;
}

.houseContainer{
    transition: all 1s ease;
    position: absolute;
    height: 60%;
    left: 40%;
    bottom: 20%;
    transform-origin: 50% 50%;
    margin: auto;
}

.houseImg{
    position: relative;
    height: 100%;
}

#slide4 .bus{
    transition: all 1s ease-out;
    position: absolute;
    opacity: 0%;
    left: 0%;
    bottom: 20%;
    width: 45%;
}

#slide4 .kids{
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 15%;
    left: 20%;
    position: absolute;
    bottom: 25%;
    opacity: 0%;
}

#slide4 .house-inside{
    transition: all 1s ease;
    opacity: 0%;
    position: absolute;
    height: 48%;
    left: 24%;
    bottom: 20%;
}

#slide4 .house-inside-img{
    height: 100%;
}

#slide4 .houseContainer .kid{
    position: absolute;
    width: 20%;
}

#slide4 .kids .kid{
    width: 100%;
    height: 100%;
}

#slide4 .percentage-boyHouse{
    transition: 1s ease all;
    position: absolute;
    top: 13%;
    left: 30%;
}

#slide4 .percentage-girlHouse{
    transition: 1s ease all;
    position: absolute;
    top: 13%;
    left: 58%;
}

#slide4 .percentBoyContainer{
    background-color: #faf8f1;
    position: absolute;
    top: 37.6%;
    left: 37.8%;
    width: 11%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

#slide4 .percentBoyContainer .boyHouse{
    width: 10%;
    height: 10%;
}

#slide4 .percentGirlContainer{
    background-color: #faf8f1;
    position: absolute;
    top: 38%;
    left: 61%;
    width: 11%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

#slide4 .percentGirlContainer .girlHouse{
    width: 10%;
    height: 10%;
}