*{
    margin: 0;
    padding: 0;
    transition: ease-in-out 1s all;
}

body{
    overflow: hidden;
    height: 88vh;
}

.slides-container{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.slide{
    background-color: red;
    width: 100vw;
    height: 100%;
    border: 1px solid black;
}

html{
    scroll-behavior: smooth;
}


/* Page d'accueil */

.slide-home h1{
    text-align: center;
    margin-top: 24%;
}

.slide-home .person-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.slide-home .boy, .slide-home .girl{
    position: relative;
}

.slide-home .boy, .slide-home .girl{
    width: 200px;
    height: 260px;
}

.slide-home .boy .boy-logo, .slide-home .girl .girl-logo{
    width: 100%;
    height: 100%;
}

.slide-home .boy .buble, .slide-home .girl .buble{
    width: 50%;
    position: absolute;
    top: 0;
}

.slide-home .boy .buble{
    left: 70%;
}

.slide-home .girl .buble{
    left: 80%;
}

.slide-home .boy .name, .slide-home .girl .name{
    position: absolute;
    top: 12%;
}

.slide-home .boy .name{
    left: 81%;
}

.slide-home .girl .name{
    left: 95%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 10vh;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 50px;
}

/*Slide Bus*/
.bus{
    background-color: yellow;
    
    width: 50%;
    height: 45%;
    margin: auto;
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.passenger{
    background-color: blue;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 5%;
    height: 12.5%;
    border: 1px solid black;
    transition: all ease-in-out 1s;
}