@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Podkova&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    height: 100vh;
}

h1{
    color: #332b36;
    font-size: 62px;
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;
}

h2{
    color: #332b36;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Podkova', serif;
}

.percentage-girl-school{
    color: #9712DD;
}

.percentage-boy-school{
    color: #FF791F;
}

.slides-container{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.slide{
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

.prev, .next{
    display: none;
    width: 64px;
    font-size: 45px;
    height: 64px;
    border: solid #332b36 5px;
    color: #332b36;
}

.btn-restart{
    display: none;
    font-size: 35px;
    border: solid #332b36 5px;
    color: #332b36;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-top: 2%;
    padding-left: 10px;
    padding-right: 10px;
    height: 58px;
    padding-top: 4px;
}

/* .btn-credit{
    display: none;
    font-size: 35px;
    border: solid #332b36 5px;
    color: #332b36;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-top: 2%;
    padding-left: 10px;
    padding-right: 10px;
    height: 58px;
    padding-top: 4px;
} */

.prev {
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-top: 2%;
}

.next{
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-top: 2%;
}

.next img{
    padding-top: 9px;
}

.prev img{
    padding-top: 9px;
}


a{
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Podkova', serif;
    border: solid 2px;
}

p{
    font-size: 24px;
    font-family: 'Podkova', serif;
}

/* .sourceContainer{
    display: none;
    height: 7%;
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: row;
}

.sourceStart{
}

.sourceEnd{
}

.sourceContent{
    font-family: 'Podkova', serif;
    background-color: #332b36;
    color: white;
    display: flex;
    align-items: center;
} */

/* Page d'accueil */
.slide-home h1 {
    font-size: 108px;
    margin-top: 75px;
    margin-left: 130px;
}

.slide-home h2 {
    font-size: 62px;
    margin-left: 416px;
}

.slide-home .boy, .slide-home .girl {
    position: absolute;
}

.slide-home .boy {
    width: 110px;
    height: 125px;
    bottom: 25%;
    left: 10%;
    transform: rotate(-6deg);
}

.slide-home .girl {
    width: 127px;
    height: 124px;
    bottom: 26%;
    left: 19%;
    transform: rotate(7deg);
}

.slide-home .boy .boy-logo, .slide-home .girl .girl-logo {
    width: 100%;
    height: 100%;
}

.slide-home .boy .name, .slide-home .girl .name {
    font-family: 'Podkova', serif;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
}

.slide-home .boy .name {
    color: #FF791F;
    top: -75%;

}

.slide-home .girl .name {
    color: #9712DD;
    top: -75%;
}

.slide-home .bus-home {
    display: none;
    position: absolute;
    z-index: 10;
    top: 380px;
    left: 0%;
    width: 45%;
}

.slide-home .bus-home img {
    width: 100%;
    height: 100%;
}

.slide-home .tache {
    width: 25%;
    position: absolute;
    left: 65%;
}

.line-home {
    width: 100%;
    margin-top: 200px;
}

.bus-stop {
    width: 354px;
    height: 268px;
    position: absolute;
    bottom: 17.5%;
    left: 23%;
}

.bus-stop img {
    width: 100%;
    height: 100%;
}

.logos {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
}

.logo {
    width: 5%;
    height: 5%;
}

.logo-gobelins {
    width: 7%;
}

@media(max-width: 1500px){
    .slide-home h1{
        margin-top: 19%;
    }

    .bus-stop{
        bottom: 20.5%;
        left: 25%;
    }

    .slide-home .bus-home{
        top: 576px;
    }
}

@media(max-width: 1350px){
    .slide-home h1 {
        font-size: 108px;
        margin-top: 75px;
        margin-left: 130px;
    }

    .slide-home h2 {
        font-size: 62px;
        margin-left: 416px;
    }

    .slide-home .boy, .slide-home .girl {
        position: absolute;
    }

    .slide-home .boy {
        width: 110px;
        height: 125px;
        bottom: 25%;
        left: 10%;
        transform: rotate(-6deg);
    }

    .slide-home .girl {
        width: 127px;
        height: 124px;
        bottom: 26%;
        left: 19%;
        transform: rotate(7deg);
    }

    .slide-home .boy .boy-logo, .slide-home .girl .girl-logo {
        width: 100%;
        height: 100%;
    }

    .slide-home .boy .name, .slide-home .girl .name {
        font-family: 'Podkova', serif;
        font-size: 48px;
        font-weight: bold;
        position: absolute;
    }

    .slide-home .boy .name {
        color: #FF791F;
        top: -75%;

    }

    .slide-home .girl .name {
        color: #9712DD;
        top: -75%;
    }

    .slide-home .bus-home {
        display: none;
        position: absolute;
        z-index: 10;
        top: 380px;
        left: 0%;
        width: 45%;
    }

    .slide-home .bus-home img {
        width: 100%;
        height: 100%;
    }

    .slide-home .tache {
        width: 25%;
        position: absolute;
        left: 65%;
    }

    .line-home {
        width: 100%;
        margin-top: 200px;
    }

    .bus-stop {
        width: 354px;
        height: 268px;
        position: absolute;
        bottom: 17.5%;
        left: 23%;
    }

    .bus-stop img {
        width: 100%;
        height: 100%;
    }

    .logos {
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        margin-left: 2%;
    }

    .logo {
        width: 5%;
        height: 5%;
    }

    .logo-gobelins {
        width: 7%;
    }
}


/*Page école*/

#slide3{
    display : flex;
    position: relative;
}

#slide3 p{
    margin-bottom: 6%;
    width: 62%;
}


.school{
    position: absolute;
    width: 24%;
    top: 8%;
    left: 9%;
    z-index: 1;
}

.line-top-school{
    position: absolute;
    width: 35%;
    top: 22%;
}

.line-bottom-school{
    position: absolute;
    width: 22%;
    bottom: 33%;
    right: -5%;
}

.school-scene-top{
    position: absolute;
    width: 10%;
    top: 27%;
    left: 17%;
}

.school-scene-bottom{
    position: absolute;
    width: 7%;
    bottom: 19%;
    right: 10%;
}

.fight-trace{
    position: absolute;
    width: 10%;
    left: 169px;
    top: 134px;
}

.ignored-trace{
    position: absolute;
    width: 8%;
    left: 72%;
    top: 29%;
}

.sexist-trace{
    position: absolute;
    width: 12%;
    top: 32%;
    left: 60%;

}

#slide3 .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#slide3 .col-gauche{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    margin-top: 6%;
}

#slide3 .col-droite{
    width: 50vw;
    padding-bottom: 4%;
    position: relative;
}

#slide3 .buttons a{
    transition: ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 55%;
    border: #332b36 solid 5px;
    background-color: white;
    color: #332b36;
    width: 197px;
}

.btn-ignored{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-sexist, .btn-fight{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#slide3 .buttons a:hover{
    background-color: #332b36;
    color: white;
}

#slide3 .buttons a:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(233%) hue-rotate(192deg) brightness(111%) contrast(108%);

}

#slide3 .students{
    width: 500px;
    display: flex;
}

#slide3 .students .girl-students{
    margin-right: 15px;
}

#slide3 .students .girl-school, #slide3 .students .boy-school{
    margin-right: 5px;
}


#slide3 .students img{
    width: 10%;
}

#slide3 .percentage{
    display: flex;
}

.percentage-boy-school, .percentage-girl-school{
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.percentage-boy-school, .percentage-girl-school:before{
    content: '';
    width: 38px;
    background-color: #332b36;
    position: absolute;
    height: 2px;

}

#slide3 .percentage-boy-school{
    margin-left: 17%;
}

#slide3 .percentage-girl-school{
    margin-left: 19%;
}

#slide3 a img{
    width: 42px;
    height: 42px;
    margin-top: 10px;
    margin-left: 10px;
}

@media(max-width: 1500px){
    .school{
        top: 13%;
    }

    #slide3 .col-gauche{
        margin-top: -5%;
    }
}

@media(max-width: 1350px){
    .line-top-school{
        width: 31%;
        top: 27%;
    }

    .line-bottom-school{
        width: 10%;
        right: 0;
    }

    #slide3 p{
        margin-bottom: 6%;
        width: 90%;
    }

    #slide3 .col-droite{
        margin-left: 33px;
    }

    #slide3 .col-gauche{
        width: 28vw;
        margin-top: 5%;
        margin-right: 15%;
    }

    .school{
        width: 20%;
        top: 19%;
        left: 10%;
    }

    .ignored-trace{
        top: 31%;
        left: 64%;
    }


    .sexist-trace{
        width: 13%;
        top: 35%;
        left: 61%;
    }

    #slide3 .percentage-boy-school{
        margin-left: 25%;
    }

    #slide3 .percentage-girl-school{
        margin-left: 30%;
    }

    .school-scene-bottom{
        width: 6%;
        bottom: 26%;
        right: 4%;
    }

    .school-scene-top{
        width: 7%;
        top: 29%;
        left: 22%;
    }

}

/*Footer*/

footer{
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 20vh;
    background-color: transparent;
    text-align: center;
    line-height: 50px;
    z-index: 3;
}

footer img{
    width: 40%;
}

footer .btn-launch{
    padding: 0px 30px;
    border-top-left-radius: 12px;
    border: 5px solid #332b36;
    border-bottom-right-radius: 12px;
    text-transform: uppercase;
    position: absolute;
    left: 80%;
    top: 20%;
    color: #332b36;
}

.barre-etat{
    margin-left: 15%;
    margin-right: 15%;
}

@media(max-width: 1200px){
    .barre-etat {
        margin-left: 8%;
        margin-right: 8%;
    }
}

/*Slide Bus*/
.percentage-girl-bus{
    color: #9712DD;
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 75%;
    font-weight: bold;
}

.percentage-boy-bus{
    color: #FF791F;
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

#slide2{
    position: relative;
}

.bus-slide2{
    background-color: transparent;
    width: 22%;
    height: 20%;
    left: 25%;
    top: 34%;
    position: relative;
    opacity: 100%;
    transition: all ease-in 1s;
}

.passenger{
    background-color: transparent;
    position: absolute;
    top: 100%;
    right: 0%;
    left: auto;
    width: 5%;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
}

.male-logo-slide2{
    width: 40px;
}

.female-logo-slide2{
    width: 40px;
}

#slide2 .bus-interieur-slide2{
    position: absolute;
    width: 28%;
    left: 25%;
    top: 33%;
    opacity: 0%;
    transition: 1s ease all;
}

.bus-cote-slide2{
    transition: 1s ease-out;
    position: absolute;
    width: 45%;
    top: auto;
    bottom: 20%;
    left: 0%;
    transform-origin: 50% 50%;
}

.foule-slide2{
    position: absolute;
    transform-origin: 0% 100%;
    height: 10%;
    bottom: 29%;
    top: auto;
    left: 50%;
    opacity: 100%;
    transition: all 1s ease;

}

.passenger-img{
    width: 100%;
    height: 100%;
}

#slide2 .percentage{
    position: absolute;
    left: 18%;
    top: 28%;
    opacity: 0%;
    transition: all 0.5s ease;
}

#slide2 .percentage-boy{
    
}

#slide2 .percentage-girl{
    margin-top: 75%;
}

#slide2 .ligne-slide2{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 29%;
}

#slide2 .bus-stop-slide2{
    position: absolute;
    height: 20%;
    width: auto;
    bottom: 25%;
    left: 61%;
}

#slide2 .titre-slide-bus{
    width: 50%;
    position: absolute;
    left: 4%;
}

#slide2 h2{
    position: absolute;
    left: 4%;
    top: 24%;
}

@media(max-width : 1200px){
    #slide2 .bus-interieur-slide2{
        width: 36%;
        top: 35%;
    }

    #slide2 .percentage{
        top: 30%;
        left: 15%;
    }

    #slide2 .percentage .percentage-girl-bus{
        margin-top: 53%;
    }

    #slide2 .titre-slide-bus{
        width: 70%;
        font-size: 50px;
    }

    #slide2 h2{
        top: 18%;
    }

    #slide2 .bus-slide2{
        height: 15%;
        top: 35.5%;
        left: 26%;
    }

    #slide2 .passenger{
        width: 8%;
    }
}


/*House slide*/
#slide4{
    position: relative;
}

.houseContainer{
    transition: all 1s ease;
    position: absolute;
    height: 60%;
    left: 40%;
    bottom: 20%;
    transform-origin: 50% 50%;
    margin: auto;
}

.houseImg{
    position: relative;
    height: 100%;
}

#slide4 .bus{
    transition: all 1s ease-out;
    position: absolute;
    opacity: 0%;
    left: 0%;
    bottom: 20%;
    width: 45%;
}

#slide4 .kids{
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 15%;
    left: 20%;
    position: absolute;
    bottom: 25%;
    opacity: 0%;
}

#slide4 .house-inside{
    transition: all 1s ease;
    opacity: 0%;
    position: absolute;
    height: 48%;
    left: 24%;
    bottom: 20%;
}

#slide4 .house-inside-img{
    height: 100%;
}

#slide4 .houseContainer .kid{
    position: absolute;
    width: 20%;
}

#slide4 .kids .kid{
    width: 100%;
    height: 100%;
}

#slide4 .percentage-boyHouse{
    transition: 1s ease all;
    position: absolute;
    top: 13%;
    left: 30%;
}

#slide4 .percentage-girlHouse{
    transition: 1s ease all;
    position: absolute;
    top: 13%;
    left: 58%;
}

#slide4 .percentBoyContainer{
    background-color: #faf8f1;
    position: absolute;
    top: 37.6%;
    left: 37.8%;
    width: 11%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

#slide4 .percentBoyContainer .boyHouse{
    width: 10%;
    height: 10%;
}

#slide4 .percentGirlContainer{
    background-color: #faf8f1;
    position: absolute;
    top: 38%;
    left: 61%;
    width: 11%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

#slide4 .percentGirlContainer .girlHouse{
    width: 10%;
    height: 10%;
}

.percentage-girlHouse{
    color: #9712DD;
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.percentage-boyHouse{
    color: #FF791F;
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

#slide4 .ligne-slide4{
    position: absolute;
    width: 100%;
    bottom: 12.25%;
}

#slide4 h1{
    position: absolute;
    left: 4%;
    top: 2%;
}

#slide4 h2{
    position: absolute;
    top: 13%;
    left: 4%;
}

#slide4 .doggo-slide4{
    opacity: 100%;
    position: absolute;
    width: 5%;
    top: 54%;
    left: 41%;
}

#slide4 .sapin-slide4{
    opacity: 100%;
    position: absolute;
    top: 33%;
    left: 33%;
}

#slide4 .sapin2-slide4{
    opacity: 100%;
    position: absolute;
    top: 33%;
    left: 76%;
}

@media(max-width: 1200px){
    #slide4 .doggo-slide4{
        left: 45%;
    }
    
    #slide4 .sapin2-slide4{
        left: 90%;
    }
}

/*Slide de fin*/
#slide5 .boy, #slide5 .girl{
    position: absolute;
}

#slide5 .content{
    margin-left: 7%;
    margin-top: 2%;
}

#slide5 .boy{
    width: 110px;
    height: 125px;
    top: 2%;
    left: 29%;
    transform: rotate(-6deg);
}

#slide5 .girl{
    width: 127px;
    height: 124px;
    top: 1%;
    left: 36%;
    transform: rotate(7deg);
}

#slide5 .boy .boy-logo, #slide5 .girl .girl-logo{
    width: 100%;
    height: 100%;
}

#slide5 .desc-prevention strong, #slide5 .desc-prevention-maj{
    text-transform: uppercase;
}

#slide5 .desc-prevention-maj{
    margin-top: 31px;
    margin-bottom: 86px;
}

#slide5 .desc-prevention-maj, #slide5 .desc-prevention{
    width: 75%;
}

#slide5 .desc-prevention .orange{
    color: #FF791F;
}

#slide5 .desc-prevention-maj .purple{
    color: #9712DD;
}

.number-content{
    display:flex;
}

.number{
    display: flex;
    flex-direction: column;
}

.number h1{
    margin-bottom: 10px;
}

.number .number-desc{
    width: 60%;
    padding-left: 3%;
}

.number .number-desc-container{
    display:flex;
    margin-top: 10px;
    position: relative;
}

.number .number-desc-container:before{
    content: '';
    top: -22%;
    width: 72%;
    height: 3px;
    position: absolute;
    background-color: #332b36;
}

.number .number-desc-container:after{
    content: '';
    width: 72%;
    height: 3px;
    position: absolute;
    background-color: #332b36;
    bottom: -14%;
}

.number .number-desc-container .number-title{
    font-size: 45px;
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
}

.number .buble{
    width: 43px;
    height:37px;
    margin-right: 10px;
    margin-top: 15px;
}

.dog{
    position: absolute;
    width: 10%;
    transform: rotate(3deg);
    bottom: 16%;
    right: 5%;
}

.orange-trace{
    position: absolute;
    top: 23%;
    left: 12%;
    width: 6%;
}

.purple-trace{
    width: 9%;
    position: absolute;
    top: 31%;
    left: 25%;
}

@media(max-width: 1200px){
    #slide5 .boy{
        top: 0;
        left: 34%;
    }

    #slide5 .girl{
        top: 0%;
        left: 43%;
    }

    .content{
        margin-top:4%;
    }

    .orange-trace{
        left: 45%;
        top: 24%;
    }

    .purple-trace{
        top: 29%;
        left: 32%;
    }
}

#slide6{
    background-color: #332b36;
}